/*project-list*/

.list-group {
  padding:10px 10%;
  text-align: left;
  display:inline-block;
  width:100%;
}

.list-container {
  text-align: center;
}

.btn-lg {
  margin: 20px 0 0 20px;
  background-color: rgb(76,34,99);
  border: none;
}

.project-title {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 20px;
  color: rgb(76,34,99);
}

.ui-multiselect-label {
  min-width:20em;
}

@media screen and (max-width: 1960px) {
  .list-group {
    padding:10px 10%;
  }
}

@media screen and (max-width: 1440px) {
  .list-group {
    padding:10px 4% 10px 8%;
  }
}

@media screen and (max-width: 1080px) {
  .list-group {
    padding:10px 0 10px 4%;
  }
}

@media screen and (max-width: 800px) {
  .list-group {
    padding:10px 0 10px 4%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 92%;
    height:10em;
  }

  .card-detail {
    height:4em;
  }
}


/*for list items*/

* {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card {
  height: 12.5em;
  border: 2px solid #eeeeee;
  padding:0 20px;
  background-color: white;
  display: inline-block;
  vertical-align:top;
  text-align: left;
  font-family: Lato;
  word-break: break-all;
}

.card:hover {
  background-color: whitesmoke;
}

.card-new {
  padding-top: 50px;
}

.card-new i {
  font-size: 2em;
}

.add-new {
  color: darkgray;
  text-align: center;
  background-color: white !important;
}

.add-new:hover, .card-active {
  border: 2px solid rgb(76,34,99);
  color: rgb(76,34,99);
}

.card-name {
  font-weight: 600;
  font-size: 1.4em;
  text-align: left;
  line-height: 1.4;
  margin-top:20px;
}

.card-detail {
  height:5.5em;
  margin: 15px 0 0;
  color: gray;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 13px;
}

.card-member {
  font-weight: 600;
}

@media screen and (min-width: 1960px) {
  .card {
    width: 16.8%;
    margin: 20px 0.5%;
  }

  .list-group {
    max-width: 1800px;
  }
}

@media screen and (max-width: 1959px) {
  .card {
    width: 22%;
    margin:20px 0.6%;
  }

  .list-group {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1440px) {
  .card {
    width: 30%;
    margin:20px 0.8%;
  }
}

@media screen and (max-width: 1280px) {
  .card {
    height:13.5em;
  }
}

@media screen and (max-width: 1080px) {
  .card {
    width: 29.5%;
    margin:15px 1%;
    height:14em;
  }

  .card-detail {
    height:6em;
  }
}

@media screen and (max-width: 800px) {
  .card {
    margin: 10px 3%;
    width: 42%;
    height: 15em;
  }

  .card-detail {
    height:7em;
  }

  .card-name {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 92%;
    height:10em;
  }

  .card-detail {
    margin-top:0;
    height:5em;
  }

  .card-name {
    margin: 10px 0;
  }
}

@media screen and (max-width: 960px) {
  .modal {
    margin-top: 0;
  }
}
