/*title and header*/

.content-container {
  background-color: rgb(250,250,250);
}

.container {
}

.content {
  width:100%;
}

.title {
  text-align:left;
  margin-top: 30px;
  margin-left: 100px;
}

.title h2 {
  font-size: 1.8em;
  display:inline-block;
}

.app-header {
  background-color: rgb(76,34,99);
  height: 150px;
  padding: 20px;
  color: white;
  display: block;
}

/*responsive*/

/*@media screen and (min-width: 1280px) {*/
  /*.content-container {*/
    /*min-width:3000px;*/
  /*}*/

  /*.container {*/
    /*min-width:3000px;*/
  /*}*/

  /*.tasks {*/
    /*max-width: 300px;*/
  /*}*/

  /*.app-header {*/
    /*min-width:3000px;*/
  /*}*/
/*}*/

/*@media screen and (max-width: 960px) {*/
/*.container {*/
    /*width: 100%;*/
/*}*/
/*}*/

@media screen and (min-width: 720px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .title h2 {
    font-size: 1.6em;
  }
}
