<div class="container">

  <div class="tasks" *ngFor="let member of members; let memberIndex = index" [attr.member-index]="memberIndex">

    <div class="task name">
      <h4>{{member.name}}</h4>
    </div>

    <div class="task detail" *ngFor="let task of member.tasks; let i = index" [attr.task-index]="i" [ngStyle]="{borderLeft: '8px solid ' + getStyle(task.status)}">
      <h5 class="task-title">{{task.title}}</h5>
      <div class="btn-group">
        <button type="button" [attr.botton-index]="i" class='btn dropdown-toggle status' [ngStyle]="{backgroundColor: getStyle(task.status)}" data-toggle="dropdown">
          <p>{{task.status}}  <span class="caret"></span></p>
        </button>
        <ul class="dropdown-menu">
          <!--{{getStatusOptions(i)}}-->
          <li *ngFor="let status of statusList"><a>{{status}}</a></li>
        </ul>
      </div>
      <p class="task-description">{{task.desc}}</p>
    </div>

    <div class="list-group-item task new-task add-new" (click)="toggleAddTask(memberIndex)">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <h4>Create New Task</h4>
    </div>

  </div>

  <div class="tasks">
    <div class="task name add-new" (click)="toggleAddMember()">
      <h4>Add New Member</h4>
    </div>
  </div>

  <div class="modal" *ngIf="addNewTask">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add New Task</h4>
        </div>
        <div class="modal-body">

          <div class="card-panel login-panel">
            <form #f="ngForm" name="addTaskForm" class="col s12" action="/" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="input-field">
                  <label htmlFor='title'>Title (max 30 characters)</label>
                  <br/>
                  <input #textbox name="title" type="text" [(ngModel)]="title" class="form-control validate" id="title" maxLength="30" name="title" required>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label htmlFor='description'>Description (max 100 characters)</label>
                  <br/>
                  <textarea ref-textarea name="desc" [(ngModel)]="desc" class="form-control validate" rows="2" id="description" name="description" ></textarea>
                  <br/>
                </div>
              </div>

              <p-dropdown name="status" [options]="status" [(ngModel)]="selectedStatus"></p-dropdown>
              <br/>
              <input type="submit" class="btn-primary btn" value='Add'/>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-add-member *ngIf="addNewMember"></app-add-member>

</div>
