<div class="container">

  <div class="tasks" *ngFor="let member of members; let memberIndex = index">

    <div class="task-wrapper">
      <div class="task name">
        <h4>{{member.name}}</h4>
      </div>
    </div>

    <div class="tasks-placeholder" (change)="onEnd()" [sortablejs]="member.tasks" [sortablejsOptions]="options" [attr.member-index]="memberIndex">
      <div class="task-wrapper" *ngFor="let task of member.tasks; let i = index" [attr.task-index]="i">
        <div class="task detail"  [ngStyle]="{borderLeft: '8px solid ' + getStyle(task.status)}">
          <h5 class="task-title">{{task.title}}</h5>
          <div class="btn-group">
            <button type="button" [attr.botton-index]="i" class='btn dropdown-toggle status' [ngStyle]="{backgroundColor: getStyle(task.status)}" data-toggle="dropdown">
              <p>{{task.status}}  <span class="caret"></span></p>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let status of statusList" (click)="changeStatus(memberIndex, i, status)"><a>{{status}}</a></li>
            </ul>
          </div>
          <p class="task-description">{{task.desc}}</p>
          <!--<p class="drop-here">Drop Here</p>-->
        </div>

      </div>
    </div>

    <div class="task-wrapper">
      <div class="list-group-item task new-task add-new" [ngClass]="{'card-active': cardActiveStatus(memberIndex) }" (click)="toggleAddTask(memberIndex)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <h4>Create New Task</h4>
      </div>
    </div>

  </div>


  <div class="tasks">
    <div class="task-wrapper">
      <div class="task name add-new" [ngClass]="{'card-active': addNewMember }" (click)="toggleAddMember()">
        <h4>Add New Member</h4>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="addNewTask">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Create Task</h4>
        </div>
        <div class="card-panel login-panel modal-body">
          <form #f="ngForm" name="addTaskForm" class="col s12" action="/" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-field">
                <label htmlFor='title'>Title (max 30 characters)</label>
                <br/>
                <input #textbox name="title" type="text" [ngModel]="title" (ngModelChange)="titleOnChange($event)" class="form-control validate" id="title" maxLength="30" name="title" required>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="input-field col s12">
                <label htmlFor='description'>Description (max 100 characters)</label>
                <br/>
                <textarea ref-textarea name="desc" [ngModel]="desc" (ngModelChange)="descOnChange($event)" class="form-control validate" rows="4" id="description" name="description" ></textarea>
                <br/>
              </div>
            </div>
            <label htmlFor='status'>Status</label>
            <br/>
            <p-dropdown name="status" [options]="status" [(ngModel)]="selectedStatus"></p-dropdown>
            <br/>
          </form>
        </div>
        <p class="modal-btn-group">
          <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
          <button type="button" class="btn-submit btn" (click)="onSubmit()" [disabled]="submitDisabled">Create</button>
        </p>
        </div>
    </div>
  </div>

  <div class="modal" *ngIf="addNewMember">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeAddMember()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Select New Member</h4>
        </div>
        <div class="modal-body">
          <br/>
          <p-multiSelect name="selectMembers" [options]="membersOptions" selectedItemsLabel="{0} members selected" [(ngModel)]="selectedMembers" [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
        </div>
        <p class="modal-btn-group">
          <button type="button" class="btn btn-secondary" (click)="closeAddMember()">Cancel</button>
          <button class="btn-submit btn" (click)="submitAddMember()">Submit</button>
        </p>
      </div>
    </div>
  </div>

</div>
